.footer-data{margin:180px 11px 12px 100px;}
 body {
    font-family: 'Open Sans', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
    background-color: #FAFAFA;
    background-image: url("assets/images/logo.png");
}